<div class="to-do-list">
    <span class="today-date">Todays Date</span>
    <h1>TO DO List</h1>
    <div class="list-cont">
        <div class="item">
            <p class="desc">To Do Item 1</p>
            <div class="btn-cont">
                <button class="done-btn">Done</button>
                <button class="delete-btn">Delete</button>
            </div>
        </div>
        <div class="item done">
            <p class="desc">To Do Item 1</p>
            <div class="btn-cont">
                <button class="done-btn">Done</button>
                <button class="delete-btn">Delete</button>
            </div>
        </div>
        <div class="item">
            <p class="desc">To Do Item 1</p>
            <div class="btn-cont">
                <button class="done-btn">Done</button>
                <button class="delete-btn">Delete</button>
            </div>
        </div>
        <div class="item">
            <p class="desc">To Do Item 1</p>
            <div class="btn-cont">
                <button class="done-btn">Done</button>
                <button class="delete-btn">Delete</button>
            </div>
        </div>
        <div class="item add-item">
            <textarea cols="20" rows="3"></textarea>
            <div class="btn-cont">
                <button class="add-btn">Add</button>
            </div>
        </div>
    </div>
</div>