<div class="to-do-list">
    <span class="today-date">{{date}}</span>
    <h1>TO DO List</h1>
    <div class="list-cont">
        <div class="item" *ngFor="let item of list" [ngClass]="{'done': item.done}">
            <p class="desc">{{item.desc}}</p>
            <div class="btn-cont">
                <button class="done-btn">{{item.done ? 'Undo' : 'Done'}}</button>
                <button class="delete-btn" (click)="deleteItem(item.id)">Delete</button>
            </div>
        </div>
        <div class="item add-item">
            <textarea cols="20" rows="3"></textarea>
            <div class="btn-cont">
                <button class="add-btn">Add</button>
            </div>
        </div>
    </div>
</div>